.THIS .slds-button_icon-bare{
    display: none;
}

.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
} 

.THIS .slds-spinner_container{
    position: fixed;
}

.THIS .valueOnright{
    text-align: right;
}

.THIS .table-income thead th span, .THIS .table-income thead th span:hover{
    background-color: #43B5B5;
    color: #000000; 
}

.THIS .table-expense thead th span, .THIS .table-expense thead th span:hover{
    background-color: #F279AB;
    color: #000000; 
}

.THIS .table-asset thead th span, .THIS .table-asset thead th span:hover{
    background-color: #83C75E;;
    color: #000000; 
}

.THIS .table-liability thead th span, .THIS .table-liability thead th span:hover{
    background-color: #CFD05B;;
    color: #000000; 
}