.THIS .imgreload:hover  {
    cursor:pointer;
}

.THIS .bannerimg  {
    width: 100%;
}

.THIS .headercontainer {
    position: relative;
    text-align: center;
}

.THIS .headeroutcomefailed {
    position: absolute;
    width: 95%;
    left: 50%;
    transform: translate(-50%, -190%);
    z-index: 1
}

.THIS .headeroutcomepassed {
    position: absolute;
    width: 65%;
    left: 50%;
    transform: translate(-60%, -190%);
    z-index: 1
}