<apex:page standardcontroller="Opportunity" extensions="Money3APIOppCls" showHeader="false" sidebar="false" title="Money3 Application">
    <apex:image url="{!$Resource.Money3_Logo}" width="100" height="50"/>
    <apex:sectionHeader title="Loan Application" subtitle="{!accObj.Name}"/>
    <apex:form >
        <apex:pageMessages />
    <apex:pageBlock >
        <apex:pageBlockButtons location="top">
           
            <apex:commandButton action="{!SendToMoney3}" value="Send to Money3"/>
            <!--apex:commandButton action="{!back}" value="Back"/> -->
            <apex:commandButton action="{!Save}" value="Save"/> 
            <apex:commandButton action="{!Cancel}" value="Cancel"/>
            <apex:commandButton action="{!loanId}" value="LoanId"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                       <apex:inputField value="{!accObj.Application_Type__c}" required="true"/>
                       <apex:inputText value="{!oppObj.Money3_LoanId__c}" />
                       <apex:selectList id="branch" value="{!branch}" size="1" style="float: left;width:200px;" label="Branch Type" >
                       <apex:selectOptions value="{!branches}" />
                       </apex:selectList>
                       </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock >
     
        <apex:pageBlockSection columns="2" title="Personal Details">
            <apex:inputField value="{!accObj.Salutation}" required="true"/>
            <apex:inputText value="{!oppObj.Money3_Loan_Reference__c}"/>
            <apex:inputText value="{!accObj.FirstName}" required="true"/>
            <apex:inputText value="{!accObj.Drivers_Licence_Number__c}" required="true"/>
            <apex:inputText value="{!accObj.LastName}" required="true"/>
            <apex:pageblockSectionItem >
            <apex:outputLabel value="Owner Full Name"/><apex:inputText value="{!accObj.UserFullName__c}" required="true"/></apex:pageblockSectionItem>
            <apex:inputField value="{!accObj.Date_of_Birth__c}" required="true"/>
            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
            <apex:inputField value="{!accObj.Gender__c}" required="true"/>
            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
            <apex:inputField value="{!accObj.Marital_Status__pc}" required="true"/>
            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
            <apex:inputField value="{!accObj.Permanent_Resident_Status__c}"/>                        
            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
            <apex:inputText value="{!accObj.PersonMobilePhone}" required="true" />
            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
            <apex:inputText value="{!accObj.PersonEmail}" required="true"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Address Information">
            <apex:inputText value="{!accObj.Current_Street_Number__c}" required="true"/>
            <apex:inputText value="{!accObj.Current_Street_Name__c}" required="true"/>
            <apex:inputField value="{!accObj.Current_Street_Type__c}" required="true"/>
            <apex:inputText value="{!accObj.Current_Suburb__c}" required="true"/>
            <apex:inputField value="{!accObj.Current_State__c}" required="true"/>
            <apex:inputText value="{!accObj.Current_Postcode__c}" required="true"/>
            <apex:inputField value="{!accObj.Residential_Status__c}" required="true"/>
            <apex:inputText value="{!accObj.Time_at_current_Address__c}" required="true"/>
       </apex:pageBlockSection>
        <apex:pageBlockSection title="Opportunity">
                <apex:inputField value="{!oppObj.Name}" required="true"/> 
                <apex:inputfield value="{!oppObj.StageName}" />
                <apex:selectList Id="pickLoanType" value="{!oppObj.Loan_Type2__c}" size="1" >
                <apex:selectOptions value="{!pickLoantypes}"  />
                </apex:selectList>

                <apex:inputField value="{!oppObj.Loan_Amount__c}" required="true"/>
                

                <apex:selectList id="personalLoanPurpose" value="{!personalLoanPurpose}" size="1" style="float: left;width:200px;" label="Personal Loan Purpose">
                <apex:selectOptions value="{!personalLoanPurposes}"/>
                </apex:selectList>
                
                <apex:inputField value="{!oppObj.Previous_Bankrupt__c}" required="true"/>
                
                <apex:selectList Id="pickLoanProduct" value="{!oppObj.Loan_Product__c}" size="1">
                <apex:selectOptions value="{!pickLoanProducts}" />
                </apex:selectList>
                               
                
                <apex:inputField value="{!oppObj.Available_Income__c}" required="true"/>
                
            </apex:pageBlockSection>
 
        </apex:pageBlock>
    </apex:form>
    <apex:relatedList subject="{!accObj}" List="Applicant_2__r"/>
    <apex:relatedList subject="{!accObj}" List="Employment__r"/>
    <apex:relatedList subject="{!accObj}" list="Assets__r"/>
    <apex:relatedList subject="{!accObj}" list="Liabilities__r"/>
    <apex:relatedList subject="{!accObj}" List="References__r"/ >

</apex:page>