<!--
  @Page Name          : RoleSMSButtons.page
  @Description        : 
  @Author             : Jesfer Baculod (jesfer.baculod@positivelendingsolutions.com.au)
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 16/07/2019, 9:44:33 am
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    24/06/2019, 6:50:51 am   Jesfer Baculod (jesfer.baculod@positivelendingsolutions.com.au)     Initial Version
  1.1    16/07/2019  9:38:50 am   Jesfer Baculod (jesfer.baculod@positivelendingsolutions.com.au)     Added encoding for Account Name to accept on javascript
-->
<apex:page standardController="Role__c">
    <apex:variable value="{!Role__c}" var="role" />
    <apex:includeScript value="/support/console/42.0/integration.js"/>
    <!-- This loads the JavaScript file needed to use Lightning Components for Visualforce-->
    <apex:includeLightning />
    
    <!-- div tag act as locator while calling Lightning.createComponent -->
    <div id="lightning"/>
    
    <script>
        console.log('Role ID: {!role.Id}');
        $Lightning.use("c:SMSButtonsApp", function() {
               $Lightning.createComponent("c:SMSbuttons",
               { recordId : '{!role.Id}',
                 sobj : 'Role__c',
                 partition : '{!role.Case_Partition__c}',
                 mobilephone : '{!role.Mobile_Phone__c}',
                 recipient: '{!JSENCODE(role.Account_Name__c)}'
               },
               "lightning",
            function(cmp) {
            	console.log('hellolightning.');
            });
        }); 

        //Resize current window
        var width = 700;
        var height = 250;
        var left = parseInt((screen.width / 2));
        var top = parseInt((screen.height / 2));
        window.resizeTo(width,height);
        window.focus();
        window.moveTo(left,top);


    </script> 
</apex:page>