<!--
//@author: Srikanth Vivaram, Jesfer Baculod - Positive Group
//@history: 08/17/17 - Updated
//@description: VF page for Submitting Requests on Case
-->
<apex:page standardController="Case" extensions="SubmissionRequest_Case" showHeader="false" sidebar="false">
    <apex:includeScript value="{!URLFOR($Resource.jquery_3_1_1,'jquery-3.1.1.min.js')}"/>
    <apex:includeScript value="/support/console/39.0/integration.js"/>
    <apex:includeScript value="/soap/ajax/39.0/connection.js" />
    <apex:includeScript value="/soap/ajax/39.0/apex.js" />
    <style>
        
        .back-link{
        margin:7px;
        margin-top:40px;
        }
        
        .back-link a{
        text-decoration:none;
        }
        
        .back-link a:hover{
        text-decoration:none;
        }
        
        .btn-primary {
        background: #0099cc;
        color: #ffffff;
        padding: 7px;
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
        }
        
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #33a6cc;
        }
        
        .btn-primary:active, .btn-primary.active {
        background: #007299;
        box-shadow: none;
        }
        
        img.pageTitleIcon{
        display:none;
        }
        
        div.bPageTitle div.content h1.pageType {
        color: white;
        /* margin: auto; */
        margin-left: 5px;
        font-size: 2.8em;
        }
        
        div.bPageTitle div.content h2.pageDescription {
        font-size:1.4em;
        }
        
        div.ptBody.secondaryPalette.brandSecondaryBrd{
        background: #0099cc;
        color: #ffffff;
        padding: 7px;
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
        }
        
        .pbBody div.pbSubheader.brandTertiaryBgr.tertiaryPalette{
        background-color: #4da6ff;
        }
        
        table.exceptionText td {
        font-style:italic;
        font-size:16px;
        font-weight:bold;
        text-align:left;
        color:red;
        }
        .greenColor{
        background-color:#ecffe6;
        }
        .redColor{
        backGround-color:#F75D59;
        }
        
        div.message.errorM3{
        background-color: #f7e6ff;
        }
        
        div.message.errorM3 .messageCell h4{
        color: black;
        }
        
        div.message.infoM3 .messageCell div.messageText{
        color: green;
        }
        
    </style>    
    <apex:sectionHeader title="Submission Request" subtitle="{!Case.CaseNumber}"/>
    <apex:form id="theForm">

        <apex:actionFunction name="refreshCase" action="{!refreshCaseDetails}" reRender="opassetDetails,opConRels,ophss,ophfp,opaddressinfo" />
        <apex:actionFunction name="af_BackToCase" action="{!caseid}" />
        <apex:actionFunction name="af_save_case" action="{!submit}" oncomplete="if ('{!saveSuccess}' == 'true'){ backtoCase('save'); location.href = '/{!subReqID}?isdtp=vw';} " status="statusSave" reRender="theForm" />


        <div class="back-link">
            <!-- <apex:commandLink id="theCommandLink" action="{!caseid}"><span class="btn-primary">&larr; Back to Case</span></apex:commandLink> -->
            <a href="#" onclick="backtoCase('Cancel')"><span class="btn-primary">&larr; Back To Case</span></a>
        </div>
        
        <apex:pageBlock id="thePageBlock">

        <apex:outputPanel rendered="{!finalMessage == ''}">
        <apex:pageMessages escape="false"/>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!finalMessage != ''}" style="color:green;font-style:italic;font-size:16px;font-weight:bold">
        <apex:pageMessages />
        </apex:outputPanel>

            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!saveUpdates}" value="Save"/>
                <apex:commandButton action="{!readyforSub}" value="Validate Submission" reRender="thePageBlock,opscripts"/>
                <!-- <apex:commandButton action="{!submit}" value="Submit" />-->
                <button type="button" id="btnSave" class="btn btnmain1" style="padding:5px;" onclick="af_save_case();">Submit</button>
            </apex:pageBlockButtons>

            <apex:pageBlockSection title="Submission Checklist">
                <apex:inputField value="{!subReq.Have_signed_privacy_consent__c}" />
                <apex:inputField value="{!subReq.Latitude_Privacy_Accepted__c}" />
                <apex:inputcheckbox value="{!cseObj.Partner_Pay_Slip_Obtained__c}"/>
                <apex:inputField value="{!subReq.Have_checked_income_on_payslips__c}" />
                <apex:inputField value="{!subReq.Have_checked_3_months_of_statements__c}" />
                <apex:inputField value="{!subReq.Support_Docs_Combined__c}" />
                <!--<apex:inputField value="{!subReq.Do_You_Know_Vendor_Dealer_Name__c}" /> -->
            </apex:pageBlockSection>
           
            <apex:pageblockSection title="Customer Stated Objectives">
                <apex:inputField value="{!cseObj.Application_Type__c}" />
                <!-- <apex:inputField value="{!cseObj.Application_Type__c}" styleClass="{!IF(cseObj.Application_Type__c=='','greenColor',null)}"/> -->
                <apex:pageBlockSectionItem />
                <apex:inputField value="{!subReq.Lender__c}" />
                <!-- <apex:inputField value="{!cseObj.Lender__c}" html-disabled="true" /> -->
                <apex:inputField value="{!cseObj.Loan_Term__c}"/>
                <apex:inputField value="{!subReq.Lender_Rating__c}" />
                <apex:inputField value="{!cseObj.Payment_Frequency__c}"/>
                <apex:pageblockSectionItem >
                <apex:outputLabel value="Gross Annual Income - Liberty"/><apex:inputField value="{!subReq.Gross_Annual_Income_Liberty__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Submission_Request_CT__c.fields.Gross_Annual_Income_Liberty__c.type}', '{!$ObjectType.Submission_Request_CT__c.fields.Gross_Annual_Income_Liberty__c.scale}', '{!$ObjectType.Submission_Request_CT__c.fields.Gross_Annual_Income_Liberty__c.length}', '{!$ObjectType.Submission_Request_CT__c.fields.Gross_Annual_Income_Liberty__c.precision}' );" />
                </apex:pageblockSectionItem>
                <apex:pageblockSectionItem >
                    <apex:outputlabel value="{!$ObjectType.Case.fields.Loan_Rate__c.label}" />
                    <apex:inputField value="{!cseObj.Loan_Rate__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Loan_Rate__c.type}', '{!$ObjectType.Case.fields.Loan_Rate__c.scale}', '{!$ObjectType.Case.fields.Loan_Rate__c.length}', '{!$ObjectType.Case.fields.Loan_Rate__c.precision}' );" />
                </apex:pageblockSectionItem>
                <apex:pageblockSectionItem >
                    <apex:outputlabel value="{!$ObjectType.Case.fields.Base_Rate__c.label}" />
                    <apex:inputField value="{!cseObj.Base_Rate__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Base_Rate__c.type}', '{!$ObjectType.Case.fields.Base_Rate__c.scale}', '{!$ObjectType.Case.fields.Base_Rate__c.length}', '{!$ObjectType.Case.fields.Base_Rate__c.precision}' );" />
                </apex:pageblockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="{!$ObjectType.Case.fields.Bank_Fees__c.label}" />
                    <apex:inputField value="{!cseObj.Bank_Fees__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Bank_Fees__c.type}', '{!$ObjectType.Case.fields.Bank_Fees__c.scale}', '{!$ObjectType.Case.fields.Bank_Fees__c.length}', '{!$ObjectType.Case.fields.Bank_Fees__c.precision}' );" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="{!$ObjectType.Case.fields.Paymen_terms__c.label}" />
                    <apex:inputField value="{!cseObj.Paymen_terms__c}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem />
                <apex:inputField value="{!cseObj.Asset_Type__c}" >
                    <apex:actionSupport event="onChange" reRender="opassetDetails" />
                </apex:inputfield>
                <apex:inputfield value="{!cseObj.Loan_Type__c}"/>
                <apex:inputField value="{!cseObj.Asset_Sub_Type__c}"/>  
                <apex:pageblockSectionItem ></apex:pageblockSectionItem>  
                <apex:inputField value="{!cseObj.Personal_Loan_Reason__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Personal_Loan_Reason__c.type}', '{!$ObjectType.Case.fields.Personal_Loan_Reason__c.Length}', '{!$ObjectType.Case.fields.Personal_Loan_Reason__c.Precision}');" />                
                <apex:inputField value="{!cseObj.Vehicle_Purchase_Price__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Vehicle_Purchase_Price__c.type}', '{!$ObjectType.Case.fields.Vehicle_Purchase_Price__c.scale}', '{!$ObjectType.Case.fields.Vehicle_Purchase_Price__c.length}', '{!$ObjectType.Case.fields.Vehicle_Purchase_Price__c.precision}' );" />     
                <apex:inputField value="{!cseObj.Credit_History__c}"/>
                <apex:inputField value="{!cseObj.Balloon1__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Balloon1__c.type}', '{!$ObjectType.Case.fields.Balloon1__c.scale}', '{!$ObjectType.Case.fields.Balloon1__c.length}', '{!$ObjectType.Case.fields.Balloon1__c.precision}' );" />
                <apex:inputField value="{!cseObj.Loan_Product__c}"/>
               <apex:inputField value="{!cseObj.Trade_in_Amount__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Trade_in_Amount__c.type}', '{!$ObjectType.Case.fields.Trade_in_Amount__c.scale}', '{!$ObjectType.Case.fields.Trade_in_Amount__c.length}', '{!$ObjectType.Case.fields.Trade_in_Amount__c.precision}' );" /> 
                <apex:inputField value="{!cseObj.Sale_Type__c}"/>
                <apex:inputField value="{!cseObj.Trade_In_Description__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Trade_In_Description__c.type}', '{!$ObjectType.Case.fields.Trade_In_Description__c.scale}', '{!$ObjectType.Case.fields.Trade_In_Description__c.length}', '{!$ObjectType.Case.fields.Trade_In_Description__c.precision}' );" />
                <apex:inputField value="{!cseObj.New_or_Used__c}"/>
                 <apex:inputText value="{!cseObj.Payout_Amount__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Payout_Amount__c.type}', '{!$ObjectType.Case.fields.Payout_Amount__c.scale}', '{!$ObjectType.Case.fields.Payout_Amount__c.length}', '{!$ObjectType.Case.fields.Payout_Amount__c.precision}' );" /> 
                <apex:inputField value="{!cseObj.Previous_Bankrupt__c}"/>
                <apex:inputField value="{!cseObj.Payout_To__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Payout_To__c.type}', '{!$ObjectType.Case.fields.Payout_To__c.scale}', '{!$ObjectType.Case.fields.Payout_To__c.length}', '{!$ObjectType.Case.fields.Payout_To__c.precision}' );" /> <!-- styleClass="{!IF(AND(cseObj.Payout__c > 0,cseObj.Payout_To__c ==''),'redColor',null)}"/> -->
                <apex:inputField value="{!cseObj.Finance_For_Business_Purposes__c}"/>
                <apex:inputText value="{!cseObj.Cash_Deposit__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Cash_Deposit__c.type}', '{!$ObjectType.Case.fields.Cash_Deposit__c.scale}', '{!$ObjectType.Case.fields.Cash_Deposit__c.length}', '{!$ObjectType.Case.fields.Cash_Deposit__c.precision}' );" />
                <apex:inputField value="{!cseObj.Changes_in_circumstance__c}"/>
                <apex:inputText value="{!cseObj.Loan_Amount_Currency__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Loan_Amount_Currency__c.type}', '{!$ObjectType.Case.fields.Loan_Amount_Currency__c.scale}', '{!$ObjectType.Case.fields.Loan_Amount_Currency__c.length}', '{!$ObjectType.Case.fields.Loan_Amount_Currency__c.precision}' );" />
                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="{!$ObjectType.Case.fields.Application_Fee__c.label}" />
                    <apex:inputField value="{!cseObj.Application_Fee__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Application_Fee__c.type}', '{!$ObjectType.Case.fields.Application_Fee__c.scale}', '{!$ObjectType.Case.fields.Application_Fee__c.length}', '{!$ObjectType.Case.fields.Application_Fee__c.precision}' );" />
                </apex:pageBlockSectionItem>
                <apex:inputField value="{!cseObj.Surplus__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Surplus__c.type}', '{!$ObjectType.Case.fields.Surplus__c.scale}', '{!$ObjectType.Case.fields.Surplus__c.length}', '{!$ObjectType.Case.fields.Surplus__c.precision}' );" />
                <apex:inputField value="{!cseObj.Quoted_Monthly_Payments__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Quoted_Monthly_Payments__c.type}', '{!$ObjectType.Case.fields.Quoted_Monthly_Payments__c.scale}', '{!$ObjectType.Case.fields.Quoted_Monthly_Payments__c.length}', '{!$ObjectType.Case.fields.Quoted_Monthly_Payments__c.precision}' );" />                
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Support__c.label}"/><apex:inputTextarea value="{!subReq.Notes_For_Support__c}" style="width:350px; height:250px" onkeypress="setMaxInput(this.id, '{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Support__c.type}', '{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Support__c.scale}', '{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Support__c.length}', '{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Support__c.precision}' );" />
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="Notes For Lender "/><apex:inputTextarea value="{!subReq.Notes_For_Lender__c}" style="width:350px; height:250px" onkeypress="setMaxInput(this.id, '{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Lender__c.type}', '{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Lender__c.scale}', '{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Lender__c.length}', '{!$ObjectType.Submission_Request_CT__c.fields.Notes_For_Lender__c.precision}' );" /> 
                </apex:pageblockSectionItem>
            </apex:pageblockSection>
            
            <!-- <apex:pageBlockSection title="Applicant Details">
                <apex:inputField value="{!cntobj.FirstName}" required="true" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.FirstName.type}', '{!$ObjectType.Contact.fields.FirstName.scale}', '{!$ObjectType.Contact.fields.FirstName.length}', '{!$ObjectType.Contact.fields.FirstName.precision}' );" />
                <apex:inputField value="{!cntobj.Residential_Situation__c}" />  
                <apex:inputField value="{!cntobj.Middle_Name__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Middle_Name__c.type}', '{!$ObjectType.Contact.fields.Middle_Name__c.scale}', '{!$ObjectType.Contact.fields.Middle_Name__c.length}', '{!$ObjectType.Contact.fields.Middle_Name__c.precision}' );" />
                <apex:inputField value="{!cntobj.Dependants__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Dependants__c.type}', '{!$ObjectType.Contact.fields.Dependants__c.scale}', '{!$ObjectType.Contact.fields.Dependants__c.length}', '{!$ObjectType.Contact.fields.Dependants__c.precision}' );" />
                <apex:inputField value="{!cntobj.LastName}" required="true" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.LastName.type}', '{!$ObjectType.Contact.fields.LastName.scale}', '{!$ObjectType.Contact.fields.LastName.length}', '{!$ObjectType.Contact.fields.LastName.precision}' );" />
                <apex:inputField value="{!cntobj.Age_of_Dependants__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Age_of_Dependants__c.type}', '{!$ObjectType.Contact.fields.Age_of_Dependants__c.scale}', '{!$ObjectType.Contact.fields.Age_of_Dependants__c.length}', '{!$ObjectType.Contact.fields.Age_of_Dependants__c.precision}' );" />
                <apex:inputField value="{!cntobj.Birthdate}"/>
                <apex:inputField value="{!cntobj.Email}" required="true" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Email.type}', '{!$ObjectType.Contact.fields.Email.scale}', '{!$ObjectType.Contact.fields.Email.length}', '{!$ObjectType.Contact.fields.Email.precision}' );" />
                <apex:inputField value="{!cntobj.Gender__c}"/>
                <apex:inputField value="{!cntobj.MobilePhone}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.MobilePhone.type}', '{!$ObjectType.Contact.fields.MobilePhone.scale}', '{!$ObjectType.Contact.fields.MobilePhone.length}', '{!$ObjectType.Contact.fields.MobilePhone.precision}' );" />
                <apex:inputField value="{!cntobj.Marital_Status__c}"/>
                <apex:inputField value="{!cntobj.Home_Ph__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Home_Ph__c.type}', '{!$ObjectType.Contact.fields.Home_Ph__c.scale}', '{!$ObjectType.Contact.fields.Home_Ph__c.length}', '{!$ObjectType.Contact.fields.Home_Ph__c.precision}' );" />
             </apex:pageBlockSection> -->
            
            <!-- <apex:pageBlockSection title="Id Details" id="thePageBlockSection">
                <apex:inputField value="{!cntobj.Drivers_License_Number__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Drivers_License_Number__c.type}', '{!$ObjectType.Contact.fields.Drivers_License_Number__c.scale}', '{!$ObjectType.Contact.fields.Drivers_License_Number__c.length}', '{!$ObjectType.Contact.fields.Drivers_License_Number__c.precision}' );" />
                <apex:inputField value="{!cntObj.Resident_Status__c}" />
                <apex:inputField value="{!cntobj.Drivers_Licence_State__c}"/>
                <apex:inputField value="{!cntobj.Primary_Country_of_Citizenship__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Primary_Country_of_Citizenship__c.type}', '{!$ObjectType.Contact.fields.Primary_Country_of_Citizenship__c.scale}', '{!$ObjectType.Contact.fields.Primary_Country_of_Citizenship__c.length}', '{!$ObjectType.Contact.fields.Primary_Country_of_Citizenship__c.precision}' );" />
                <apex:inputField value="{!cntobj.Drivers_Licence_Expiry__c}"/>
                <apex:inputField value="{!cntobj.Secondary_Country_of_Citizenship__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Secondary_Country_of_Citizenship__c.type}', '{!$ObjectType.Contact.fields.Secondary_Country_of_Citizenship__c.scale}', '{!$ObjectType.Contact.fields.Secondary_Country_of_Citizenship__c.length}', '{!$ObjectType.Contact.fields.Secondary_Country_of_Citizenship__c.precision}' );" />
                <apex:inputField value="{!cntobj.Drivers_Licence_Card_Number__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Drivers_Licence_Card_Number__c.type}', '{!$ObjectType.Contact.fields.Drivers_Licence_Card_Number__c.scale}', '{!$ObjectType.Contact.fields.Drivers_Licence_Card_Number__c.length}', '{!$ObjectType.Contact.fields.Drivers_Licence_Card_Number__c.precision}' );" /> 
                <apex:inputField value="{!cntobj.Primary_Passport_Number__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Primary_Passport_Number__c.type}', '{!$ObjectType.Contact.fields.Primary_Passport_Number__c.scale}', '{!$ObjectType.Contact.fields.Primary_Passport_Number__c.length}', '{!$ObjectType.Contact.fields.Primary_Passport_Number__c.precision}' );" />
                <apex:inputField value="{!cntobj.Medicare_Number__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Medicare_Number__c.type}', '{!$ObjectType.Contact.fields.Medicare_Number__c.scale}', '{!$ObjectType.Contact.fields.Medicare_Number__c.length}', '{!$ObjectType.Contact.fields.Medicare_Number__c.precision}' );" />
                <apex:inputField value="{!cntobj.Secondary_Passport_No__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Secondary_Passport_No__c.type}', '{!$ObjectType.Contact.fields.Secondary_Passport_No__c.scale}', '{!$ObjectType.Contact.fields.Secondary_Passport_No__c.length}', '{!$ObjectType.Contact.fields.Secondary_Passport_No__c.precision}' );" />
                <apex:pageBlockSectionItem />
                <apex:inputField value="{!cntobj.Visa_Subclass__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Visa_Subclass__c.type}', '{!$ObjectType.Contact.fields.Visa_Subclass__c.scale}', '{!$ObjectType.Contact.fields.Visa_Subclass__c.length}', '{!$ObjectType.Contact.fields.Visa_Subclass__c.precision}' );" />
            </apex:pageBlockSection> -->
            
            <!--<apex:outputpanel id="opaddressinfo">
            <apex:pageBlockSection title="Address Information">
                <apex:outputField value="{!cntObj.X3_Years_of_Address_Captured__c}"/> 
                <apex:inputField value="{!cntObj.Time_at_Current_Address_Years__c}"/>
                <apex:outputField value="{!cntObj.Total_Previous_Address_History_Years__c}" />
                <apex:inputField value="{!cntObj.Residential_Status__c}"/>
                <apex:inputField value="{!cntobj.Street_Number__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Street_Number__c.type}', '{!$ObjectType.Contact.fields.Street_Number__c.scale}', '{!$ObjectType.Contact.fields.Street_Number__c.length}', '{!$ObjectType.Contact.fields.Street_Number__c.precision}' );"  />
                <apex:inputField value="{!cntobj.Street_Name__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Street_Name__c.type}', '{!$ObjectType.Contact.fields.Street_Name__c.scale}', '{!$ObjectType.Contact.fields.Street_Name__c.length}', '{!$ObjectType.Contact.fields.Street_Name__c.precision}' );" />
                <apex:inputField value="{!cntobj.Street_Type__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Street_Type__c.type}', '{!$ObjectType.Contact.fields.Street_Type__c.scale}', '{!$ObjectType.Contact.fields.Street_Type__c.length}', '{!$ObjectType.Contact.fields.Street_Type__c.precision}' );" />
                <apex:inputField value="{!cntobj.Suburb__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Suburb__c.type}', '{!$ObjectType.Contact.fields.Suburb__c.scale}', '{!$ObjectType.Contact.fields.Suburb__c.length}', '{!$ObjectType.Contact.fields.Suburb__c.precision}' );" />
                <apex:inputField value="{!cntobj.State__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.State__c.type}', '{!$ObjectType.Contact.fields.State__c.scale}', '{!$ObjectType.Contact.fields.State__c.length}', '{!$ObjectType.Contact.fields.State__c.precision}' );" />
                <apex:inputField value="{!cntobj.Postcode__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Postcode__c.type}', '{!$ObjectType.Contact.fields.Postcode__c.scale}', '{!$ObjectType.Contact.fields.Postcode__c.length}', '{!$ObjectType.Contact.fields.Postcode__c.precision}' );" />
                <apex:inputField value="{!cntobj.Country__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Contact.fields.Country__c.type}', '{!$ObjectType.Contact.fields.Country__c.scale}', '{!$ObjectType.Contact.fields.Country__c.length}', '{!$ObjectType.Contact.fields.Country__c.precision}' );" />
                <apex:inputField value="{!cntobj.Current_Address_Start_Date__c}"/>
             </apex:pageBlockSection>
             </apex:outputpanel> -->
            
             <apex:outputpanel id="opassetDetails" rendered="{!IF(OR(cseObj.Asset_Type__c == 'Motor Vehicle', cseObj.Asset_Type__c == 'Heavy Vehicles') ,true,false)}">
                 <apex:pageblockSection title="Asset Details" id="assetDetails" >
                    <apex:inputField value="{!subReq.Pre_Approval__c}" />
                    <apex:pageblockSectionItem />
                    <apex:inputField value="{!cseObj.Vehicle_Year__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Vehicle_Year__c.type}', '{!$ObjectType.Case.fields.Vehicle_Year__c.scale}', '{!$ObjectType.Case.fields.Vehicle_Year__c.length}', '{!$ObjectType.Case.fields.Vehicle_Year__c.precision}' );" />
                    <apex:inputField value="{!cseObj.Vehicle_Transmission__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Vehicle_Transmission__c.type}', '{!$ObjectType.Case.fields.Vehicle_Transmission__c.scale}', '{!$ObjectType.Case.fields.Vehicle_Transmission__c.length}', '{!$ObjectType.Case.fields.Vehicle_Transmission__c.precision}' );" />
                    <apex:inputField value="{!cseObj.Vehicle_Make__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Vehicle_Make__c.type}', '{!$ObjectType.Case.fields.Vehicle_Make__c.scale}', '{!$ObjectType.Case.fields.Vehicle_Make__c.length}', '{!$ObjectType.Case.fields.Vehicle_Make__c.precision}' );" />
                    <apex:inputField value="{!cseObj.Vehicle_Body_Type__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Vehicle_Body_Type__c.type}', '{!$ObjectType.Case.fields.Vehicle_Body_Type__c.scale}', '{!$ObjectType.Case.fields.Vehicle_Body_Type__c.length}', '{!$ObjectType.Case.fields.Vehicle_Body_Type__c.precision}' );" />
                    <apex:inputField value="{!cseObj.Vehicle_Model__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Vehicle_Model__c.type}', '{!$ObjectType.Case.fields.Vehicle_Model__c.scale}', '{!$ObjectType.Case.fields.Vehicle_Model__c.length}', '{!$ObjectType.Case.fields.Vehicle_Model__c.precision}' );" />
                    <apex:inputField value="{!cseObj.Vehicle_Fuel_Type__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Vehicle_Fuel_Type__c.type}', '{!$ObjectType.Case.fields.Vehicle_Fuel_Type__c.scale}', '{!$ObjectType.Case.fields.Vehicle_Fuel_Type__c.length}', '{!$ObjectType.Case.fields.Vehicle_Fuel_Type__c.precision}' );" />
                    <apex:inputField value="{!cseObj.Varient__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Varient__c.type}', '{!$ObjectType.Case.fields.Varient__c.scale}', '{!$ObjectType.Case.fields.Varient__c.length}', '{!$ObjectType.Case.fields.Varient__c.precision}' );" />
                </apex:pageblockSection>
            </apex:outputpanel>
            
            <!-- <apex:outputpanel rendered="{!IF(cseObj.RecordType.Name == $Label.Case_Private_RT,true,false)}" id="ophss">
                <apex:pageblockSection title="Household Servicability Summary"> 
                    <apex:outputField value="{!cseObj.Total_Combined_Income__c}"/>
                    <apex:outputField value="{!cseObj.Total_Combined_Surplus__c}"/>
                    <apex:outputField value="{!cseObj.Total_Combined_Expense__c}"/>
                </apex:pageblockSection>
                <apex:pageBlockSection title="Household Financial Position" id="ophfp">
                    <apex:outputField value="{!cseObj.Combined_Regular_Income__c}" />
                    <apex:outputField value="{!cseObj.Combined_Rent_Mortgage_Board__c}"/>
                    <apex:outputField value="{!cseObj.Combined_Overtime_Income__c}"/>
                    <apex:outputField value="{!cseObj.Combined_Credit_Card_Payments__c}"/>
                    <apex:outputField value="{!cseObj.Combined_Investment_Income__c}"/>
                    <apex:outputField value="{!cseObj.Combined_Loan_Payments__c}"/>
                    <apex:outputField value="{!cseObj.Combined_Child_Support_Income__c}"/>
                    <apex:outputField value="{!cseObj.Combined_Other_Liabilities__c}"/>
                    <apex:outputField value="{!cseObj.Combined_Centrelink_Income__c}"/>
                    <apex:pageBlockSectionItem />
                    <apex:pageBlockSectionItem />
                    <apex:inputField value="{!cseObj.Combined_Dependant_Child_Expenses__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Combined_Dependant_Child_Expenses__c.type}', '{!$ObjectType.Case.fields.Combined_Dependant_Child_Expenses__c.scale}', '{!$ObjectType.Case.fields.Combined_Dependant_Child_Expenses__c.length}', '{!$ObjectType.Case.fields.Combined_Dependant_Child_Expenses__c.precision}' );" />
                    <apex:inputField value="{!cseObj.Self_Employed_Combined_Income__c}"  />
                    <apex:inputField value="{!cseObj.Combined_Phone_TV_Internet__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Combined_Phone_TV_Internet__c.type}', '{!$ObjectType.Case.fields.Combined_Phone_TV_Internet__c.scale}', '{!$ObjectType.Case.fields.Combined_Phone_TV_Internet__c.length}', '{!$ObjectType.Case.fields.Combined_Phone_TV_Internet__c.precision}' );" />
                    <apex:pageBlockSectionItem />
                    <apex:inputField value="{!cseObj.Combined_Petrol_Public_Transport__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Combined_Petrol_Public_Transport__c.type}', '{!$ObjectType.Case.fields.Combined_Petrol_Public_Transport__c.scale}', '{!$ObjectType.Case.fields.Combined_Petrol_Public_Transport__c.length}', '{!$ObjectType.Case.fields.Combined_Petrol_Public_Transport__c.precision}' );" />
                    <apex:pageBlockSectionItem />
                    <apex:inputField value="{!cseObj.Combined_Insurance__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Combined_Insurance__c.type}', '{!$ObjectType.Case.fields.Combined_Insurance__c.scale}', '{!$ObjectType.Case.fields.Combined_Insurance__c.length}', '{!$ObjectType.Case.fields.Combined_Insurance__c.precision}' );" />
                    <apex:pageBlockSectionItem />
                    <apex:inputField value="{!cseObj.Combined_Groceries_Food__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Combined_Groceries_Food__c.type}', '{!$ObjectType.Case.fields.Combined_Groceries_Food__c.scale}', '{!$ObjectType.Case.fields.Combined_Groceries_Food__c.length}', '{!$ObjectType.Case.fields.Combined_Groceries_Food__c.precision}' );" />
                    <apex:inputField value="{!cseObj.Are_you_Splitting_Expenses__c}"/>
                    <apex:inputField value="{!cseObj.Combined_Other_Expenses__c}" onkeypress="setMaxInput(this.id, '{!$ObjectType.Case.fields.Combined_Other_Expenses__c.type}', '{!$ObjectType.Case.fields.Combined_Other_Expenses__c.scale}', '{!$ObjectType.Case.fields.Combined_Other_Expenses__c.length}', '{!$ObjectType.Case.fields.Combined_Other_Expenses__c.precision}' );" />
              </apex:pageblockSection>   
            </apex:outputpanel>
            <apex:outputpanel rendered="{!IF(cseObj.RecordType.Name == $Label.Case_Business_RT,true,false)}">
              <apex:pageBlockSection title="Business Financial Position">
                    <apex:inputField value="{!cseObj.Business_Total_Revenue__c}" />
                    <apex:inputField value="{!cseObj.Business_Income_Verification_Method__c}" />
                    <apex:inputField value="{!cseObj.Business_Total_Depreciation__c}" />
                    <apex:inputField value="{!cseObj.Business_Financials_Period_End1__c}" />
                    <apex:inputField value="{!cseObj.Business_Net_Profit_After_Tax__c}" />
                    <apex:inputField value="{!cseObj.Business_Continuing_Financial_Expenses__c}" />
                    <apex:outputField value="{!cseObj.Total_Combined_Liabilities__c}" />
                    <apex:inputField value="{!cseObj.Business_Entity_Type__c}" />
              </apex:pageBlockSection>
            </apex:outputpanel> -->

              <!-- <apex:pageblockSection title="Dealer Details"> -->
               
                <!-- <apex:outputField value="{!cseObj.Dealer_Contact__c}"/> -->
                  <!-- <apex:inputText value="{!cseObj.Dealer_Name__c}"/>
                <apex:inputText value="{!cseObj.Dealer_Phone__c}"/>
                <apex:inputText value="{!cseObj.Dealer_Mobile__c}"/>
                <apex:inputText value="{!cseObj.Dealer_Email__c}"/>
                <apex:inputText value="{!cseObj.Dealer_Address__c}"/> -->
                
              <!-- </apex:pageblockSection> -->

            <!--<apex:outputpanel id="opConRels">
                <apex:pageBlockSection title="{!$ObjectType.Previous_Address__c.label}" collapsible="true" columns="1">
                    <apex:pageBlockTable value="{!cntObj.Previous_Addresses1__r}" var="preva" width="100%" rendered="{!IF(cntObj.Previous_Addresses1__r.empty, false,true)}">
                        <apex:column headerValue="{!$ObjectType.Previous_Address__c.fields.Name.label}">
                            <apex:commandLink onclick="openRelatedRecord('{!preva.Id}', '{!JSENCODE(preva.Name)}');" rerender="opConRels">{!preva.Name}</apex:commandLink>
                        </apex:column>
                        <apex:column value="{!preva.Residential_Situation__c}" />
                        <apex:column value="{!preva.Street_Number__c}" />
                        <apex:column value="{!preva.Street_Name__c}" />
                        <apex:column value="{!preva.Street_Type__c}" />
                        <apex:column value="{!preva.Suburb__c}" />
                        <apex:column value="{!preva.State__c}" />
                        <apex:column value="{!preva.Postcode__c}" />
                        <apex:column value="{!preva.Address_Start_Date__c}" />
                        <apex:column value="{!preva.Address_End_Date__c}" />
                    </apex:pageBlockTable>
                    <apex:outputText value="No records to display" rendered="{!IF(cntObj.Previous_Addresses1__r.empty, true,false)}" />
                </apex:pageBlockSection>

                <apex:pageBlockSection title="{!$ObjectType.Income__c.label}" collapsible="true" columns="1">
                    <apex:pageBlockTable value="{!cntObj.incomes__r}" var="inc" width="100%" rendered="{!IF(cntObj.incomes__r.empty, false,true)}">
                        <apex:column headerValue="{!$ObjectType.Income__c.fields.Name.label}" >
                            <apex:commandLink onclick="openRelatedRecord('{!inc.Id}', '{!JSENCODE(inc.Name)}');" rerender="opConRels">{!inc.Name}</apex:commandLink>
                        </apex:column>
                        <apex:column value="{!inc.RecordType.Name}" />
                        <apex:column value="{!inc.Employment_Situation__c}" />
                        <apex:column value="{!inc.Employer_Name__c}" />
                        <apex:column value="{!inc.Employment_Job_Status__c}" />
                        <apex:column value="{!inc.Job_Title__c}" />
                        <apex:column value="{!inc.Total_Employment_Time_Years__c}" />
                        <apex:column value="{!inc.Employment_Date_Commenced__c}" />
                        <apex:column value="{!inc.Employment_Date_Completed__c}" />
                    </apex:pageBlockTable>
                    <apex:outputText value="No records to display" rendered="{!IF(cntObj.incomes__r.empty, true,false)}" />
                </apex:pageBlockSection>

                <apex:pageBlockSection title="{!$ObjectType.Assets__c.label}" collapsible="true" columns="1">
                    <apex:pageBlockTable value="{!cntObj.Assets__r}" var="asst" width="100%" rendered="{!IF(cntObj.Assets__r.empty, false,true)}">
                        <apex:column headerValue="{!$ObjectType.Assets__c.fields.Name.label}">
                            <apex:commandLink onclick="openRelatedRecord('{!asst.Id}', '{!JSENCODE(asst.Name)}');" rerender="opConRels">{!asst.Name}</apex:commandLink>
                        </apex:column>
                        <apex:column value="{!asst.Asset_Type1__c}" />
                        <apex:column value="{!asst.Financial_Institution__c}" />
                        <apex:column value="{!asst.Other_Institution__c}" />
                        <apex:column value="{!asst.Description__c}" />
                        <apex:column value="{!asst.Value__c}" />
                        <apex:column value="{!asst.Year_of_Manufacture__c}" />
                        <apex:column value="{!asst.Model__c}" />
                    </apex:pageBlockTable>
                    <apex:outputText value="No records to display" rendered="{!IF(cntObj.Assets__r.empty, true,false)}" />
                </apex:pageBlockSection>

                <apex:pageBlockSection title="{!$ObjectType.Liability__c.label}" collapsible="true" columns="1">
                    <apex:pageBlockTable value="{!cntObj.Liabilities__r}" var="liab" width="100%" rendered="{!IF(cntObj.Liabilities__r.empty, false,true)}">
                        <apex:column headerValue="{!$ObjectType.Liability__c.fields.Name.label}">
                            <apex:commandLink onclick="openRelatedRecord('{!liab.Id}', '{!JSENCODE(liab.Name)}');" rerender="opConRels">{!liab.Name}</apex:commandLink>
                        </apex:column>
                        <apex:column value="{!liab.Type1__c}" />
                        <apex:column value="{!liab.Financial_Institution__c}" />
                        <apex:column value="{!liab.Other_Institution__c}" />
                        <apex:column value="{!liab.Monthly_Payment__c}" />
                        <apex:column value="{!liab.Loan_Term__c}" />
                        <apex:column value="{!liab.Start_Date__c }" />
                        <apex:column value="{!liab.Balance__c}" />
                        <apex:column value="{!liab.Credit_Limit__c}" />
                        <apex:column value="{!liab.Clear_from_this_account__c}" />
                    </apex:pageBlockTable>
                    <apex:outputText value="No records to display" rendered="{!IF(cntObj.Liabilities__r.empty, true,false)}" />
                </apex:pageBlockSection>

                <apex:pageBlockSection title="References" collapsible="true" columns="1">
                    <apex:pageBlockTable value="{!cseObj.References1__r}" var="refr" width="100%" rendered="{!IF(cseObj.References1__r.empty, false,true)}">
                        <apex:column headerValue="{!$ObjectType.Reference1__c.fields.Name.label}">
                            <apex:commandLink onclick="openRelatedRecord('{!refr.Id}', '{!JSENCODE(refr.Name)}');" rerender="opConRels">{!refr.Name}</apex:commandLink>
                        </apex:column>
                        <apex:column value="{!refr.RecordType.Name}" headerValue="Type"/>
                        <apex:column value="{!refr.Person_Name__c}" />
                        <apex:column value="{!refr.Street_Number__c}" />
                        <apex:column value="{!refr.Street_Type__c}" />
                        <apex:column value="{!refr.Suburb__c}" />
                        <apex:column value="{!refr.State__c}" />
                        <apex:column value="{!refr.Postcode__c}" />
                        <apex:column value="{!refr.Country__c}" />
                        <apex:column value="{!refr.Phone__c}" />
                    </apex:pageBlockTable>
                    <apex:outputText value="No records to display" rendered="{!IF(cseObj.References1__r.empty, true,false)}" />
                </apex:pageBlockSection>

            </apex:outputpanel> -->


        </apex:pageBlock>
    </apex:form>
     
    <!-- <apex:relatedList subject="{!cntObj}" list="Previous_Addresses1__r"/>
    <apex:relatedList subject="{!cntObj}" list="incomes__r"/>
    <apex:relatedList subject="{!cntObj}" list="Assets__r"/>
    <apex:relatedList subject="{!cseObj}" list="References1__r"/>
    <apex:relatedList subject="{!cntObj}" list="Liabilities__r"/>  -->

    <apex:outputpanel id="opscripts">

         <script type="text/javascript">
            var turl;
            var ttitle;
            // Any js placed here will be fired when output panel is rerendered
            $j = jQuery.noConflict();
            $j(document).ready(function() {
                $j( ".messageTable" ).find( "img" ).each(function () { 
                    if ($j(this).attr('alt') == 'WARNING' || $j(this).attr('alt') == 'ERROR'){
                        $j(this).remove(); 
                    }
                });
                $j('div.message.errorM3 .messageCell h4').html('Submission Request Errors:');
                $j('div.message.warningM3 .messageCell h4').html('Contact Errors:');
            });

            //Set max Field length on InputField
            function setMaxInput(component, typ, scale, length, precision){
                var docelem = document.getElementById(component);
                console.log('maxLength attr '+docelem.maxLength);
                if (docelem.maxLength == -1){ //add MaxLength attirbute to input
                    console.log('Component '+ component);
                    console.log('type '+ typ);
                    console.log('scale '+ scale);
                    console.log('length '+ length);
                    console.log('precision '+ precision);
                    if (typ == 'double' || typ == 'currency' || typ == 'percent'){ 
                        docelem.setAttribute('maxLength',precision);
                        if (scale > 0){
                            docelem.maxLength = docelem.maxLength - scale;
                        }
                        console.log('A');
                    }
                    else{ 
                        docelem.setAttribute('maxLength',length);
                        console.log('B');
                    }
                    console.log(docelem);
                }
                return false;
            }

            function openRelatedRecord(recID, recName){
                turl = '/' + recID;
                ttitle = recName;
                if (sforce.console.isInConsole()) { 
                    turl+= '?isdtp=vw';
                    sforce.console.getEnclosingPrimaryTabId(openSubtab);
                } else { 
                    window.open(turl,'_target'); 
                } 
            }

            function openEditVendorDetailsLink(){
                turl = '/apex/Case_EditVendorDetails?id={!Case.Id}'; 
                ttitle = 'Edit Vendor Details';
                if (sforce.console.isInConsole()) { 
                    sforce.console.getEnclosingPrimaryTabId(openSubtab);

                } else { 
                    window.open(turl,'_target'); 
                } 
           }

           function backtoCase(event){
                console.log('IsinConsole:'+sforce.console.isInConsole());
                if (sforce.console.isInConsole()){
                    if (event == 'save'){
                        //Refresh Opp Detail tab
                        sforce.console.getEnclosingPrimaryTabId(showTabId);
                    }
                    else{
                        //Close current tab and open Primary Tab (Opp Detail)
                        console.log(sforce.console.getEnclosingTabId(closeSubtab));
                        sforce.console.getEnclosingTabId(closeSubtab);
                    }
                }
                else af_BackToCase();
           }

           var showTabId = function showTabId(result){
                var tabId = result.id;
                console.log(tabId);
                sforce.console.refreshPrimaryTabById(tabId , true);
           };

            var openSubtab = function openSubtab(result) {
                //Now that we have the primary tab ID, we can open a new subtab in it
                var primaryTabId = result.id;
                //var url = '/apex/Opp_EditVendorDetails?id={!Case.Id}'; 
                var s = sforce.console.openSubtab(primaryTabId , turl, false, ttitle, null,openSuccess);
            };

            var openSuccess = function openSuccess(result){
                var subtabId = result.id;
                console.log(subtabId);
                sforce.console.focusSubtabById(subtabId);
                }


            var closeSubtab = function closeSubtab(result) {
                var tabId = result.id;
                console.log(tabId);
                sforce.console.closeTab(tabId);
            };

            function setTabTitle() {
                console.log('IsinConsole:'+sforce.console.isInConsole());
                if (sforce.console.isInConsole()){
                    sforce.console.setTabTitle('Submission Request');
                }
            }       
          
            var previousOnload = window.onload;        
            window.onload = function() { 
                if (previousOnload) { 
                    previousOnload();
                }                
                setTimeout('setTabTitle()', '500'); 
            }
           
            console.log('loaded');

            var onFocusEvent = function (result){
                    console.log('Case Sub Request tab in focus');
                    refreshCase();
               };

            sforce.console.onFocusedSubtab(onFocusEvent);

        </script>
    </apex:outputpanel>
</apex:page>