<!--
Author: Jesfer Baculod, May 2018
Purpose: Supporting page for Veda Credit Check on selecting person to validate
History:	05/16/2018 - Created
-->
<apex:page showHeader="true" sidebar="true" controller="VedaCCSelectorController" tabStyle="Account">

    <apex:sectionHeader title="VedaScore Financial Commercial + Consumer 1.1" rendered="{!IF(rolelist.size > 1, true, false)}" />
    <apex:includeScript value="/support/console/36.0/integration.js"/>

    <apex:form id="mainFrm">
        <apex:actionFunction name="afSelPerson" action="{!redirectToVedaCC}">
            <apex:param value="" assignTo="{!roleId}" />
            <apex:param value="" assignTo="{!isInConsole}" />
        </apex:actionFunction>
        <apex:actionFunction name="afCancel" action="{!pageCancel}" />
        <apex:pageMessage severity="ERROR" strength="2" summary="No Person found to Perform Veda Credit Check" rendered="{!hasErrors}" />
        <apex:pageBlock rendered="{!IF(rolelist.size > 1, true, false)}">
                <apex:pageBlockButtons >
                        <apex:outputlabel styleClass="btn" value="Select" onclick="afSelPerson('{!roleId}', sforce.console.isInConsole());" />
                        <apex:outputlabel styleClass="btn" value="Cancel" onclick="closeVeda();" />
                </apex:pageBlockButtons>
                <apex:pageBlockSection title="Person - Role" >
                        <apex:pageBlockSectionItem >
                            <apex:outputlabel value="Person to perform Credit Check" />
                            <apex:selectList value="{!roleId}" size="1">
                                <apex:selectOptions value="{!Approles}"  />
                            </apex:selectList>
                        </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>

    <script>

       function closeVeda(){
            console.log('IsinConsole:'+sforce.console.isInConsole());
            if (sforce.console.isInConsole()){
                //Close Edit Veda CC Selector
                sforce.console.getEnclosingTabId(closeSubtab);
            }
            else{
                afCancel();
            }
       }

       var closeSubtab = function closeSubtab(result) {
                var tabId = result.id;
                console.log(tabId);
                sforce.console.closeTab(tabId);
            };

       function setTabTitle() {
            console.log('IsinConsole:'+sforce.console.isInConsole());
            if (sforce.console.isInConsole()){
                sforce.console.setTabTitle('Veda Credit Check');
            }
       }       
      
       var previousOnload = window.onload;        
       window.onload = function() { 
            if (previousOnload) { 
                previousOnload();
            }                
            setTimeout('setTabTitle()', '500'); 
       }
       console.log('Veda Credit Check loaded');

       if ('{!rolelist.size}' == '1'){
            console.log('Rolelist:{!rolelist.size} {!rolelist}');
            afSelPerson('{!roleId}', sforce.console.isInConsole());
       }

    </script>


</apex:page>